<%= simple_form_for :message, url: [:reply, @conversation] do |f| %>

    <p></p><h3>Reply</h3></p>
    <p>
      <%= f.input :subject,label: 'Subject<br/>',:input_html => { :value => "RE: #{@conversation.subject}"} %>
    </p>
    <p>
      <%= f.label "Message" %><br/>
      <%= f.text_area :body %>
    </p>
    <div class="form-actions">
      <%= f.button :submit, 'Reply', class: 'btn-primary' %>
      <%= submit_tag 'Reset', type: :reset, class: 'btn btn-danger' %>
    </div>
<% end %>