<%= form_tag books_path, :method => 'get' do %> <!-- redirect to books/index, after submit -->
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <!-- simple or extended search  -->
      <%= radio_button_tag(:is_extended, false, :checked => params[:is_extended]=='false') %>
      <%= label_tag(:is_extended_true, "simple search") %>
      <%= radio_button_tag(:is_extended, true, :checked => params[:is_extended]=='true') %>
      <%= label_tag(:is_extended_false, "extended search") %>
    </p>

    <p>
      <!-- public or private search -->
      <%= radio_button_tag(:is_public, true, :checked => params[:is_public]=='true') %>
      <%= label_tag(:is_public_true, "public search") %>
      <%= radio_button_tag(:is_public, false, :checked => params[:is_public]=='false') %>
      <%= label_tag(:is_public_false, "private search") %>
    </p>
    <p>
      <table>
        <tr>
          <td><%= label_tag(:title, "Title:") %></td>
          <td><%= text_field_tag :title, params[:title] %></td>
          <td><%= label_tag(:yearFrom, "published between:") %></td>
          <td>
            <%= check_box_tag(:is_published, value='1', checked = search_is_for_published) %>
            <%= label_tag(:is_published, "Is published?") %>
            <%= select_year(2010, :start_year => 2010, :end_year => Time.now.year, :field_name => "from", :prefix => "years") %>
            <%= select_year(Date.today, :start_year => Time.now.year, :end_year => 2010, :field_name => "to", :prefix => "years") %>
          </td>
        </tr>
        <tr>
          <td><%= label_tag(:genre, "Genre:") %></td>
          <td><%= text_field_tag :genre, params[:genre] %></td>
          <td><%= label_tag(:author, "Author:") %></td>
          <td><%= text_field_tag :author, params[:author] %></td>
        </tr>
      </table>

      <%= submit_tag "Search", :title => nil %>
    </p>
<% end %>


