<h1><%= t 'views.book.index.title' %></h1>
<!-- simple or extended search  -->
<%= link_to 'Simple Search', show_simple_searchform_path, :remote=> true, :id=> "simplesearch", :style=>'font-weight: bold;' %>
<%= link_to 'Advanced Search', show_advanced_searchform_path, :remote=> true, :id=>"advancedsearch" %>
<br>
<div id="searchform">
  <%= render 'booksearches/form_simple' unless @booksearch.is_advanced? %>
  <%= render 'booksearches/form_extended' if @booksearch.is_advanced? %>
</div>

<div id="books"><%= render 'books' %></div>

<br/>

<%= button_to I18n.t('views.book.index.new'), new_book_path, method: :get %>
