<h1><%= t 'views.book.index.title' %></h1>
<!-- simple or extended search  -->
<%= link_to 'Simple Search', show_simple_searchform_path, :remote=> true %>
<%= link_to 'Advanced Search', show_advanced_searchform_path, :remote=> true %>
<br>
<div id="searchform">
  <%= render 'booksearches/form_simple' unless @booksearch.is_advanced? %>
  <%= render 'booksearches/form_extended' if @booksearch.is_advanced? %>
</div>

<table class="pretty">
  <tr>
    <th><%= sortable "title", Book.human_attribute_name(:title) %></th>
    <th><%= sortable "edition", Book.human_attribute_name(:edition) %></th>
    <th><%= sortable "published", Book.human_attribute_name(:published) %></th>
    <th><%= sortable "genre", Book.human_attribute_name(:genre) %></th>
    <th><%= Book.human_attribute_name(:tags) %></th>
    <th><%= Book.human_attribute_name(:users) %></th>
  </tr>

  <% @books.each do |book| %>
      <tr>
        <td><%= book.is_author?(current_user) ? link_to(book.title, book) : book.title %></td>
        <td><%= book.edition %></td>
        <td><%= book.published %></td>
        <td><%= book.genre %></td>
        <td><%= book.tags %></td>
        <td><%= book.users_list %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @books %>

<br/>

<%= button_to I18n.t('views.book.index.new'), new_book_path, method: :get %>
